@using Microsoft.AspNet.Identity
@model TalklessWeb.Models.ListedMessageViewModel
@{
    ViewBag.Title = "MessageList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Üzenetek</h2>
<div class="panel panel-default">
    @{
        var userId = User.Identity.GetUserId();
        foreach (var groupId in Model.MessageGroupIds)
        {

            foreach (var messageView in Model.MessageViews)
            {
                
                if (groupId == messageView.MessageGroupId)
                {
                <div class="panel-heading">
                    @if (messageView.ReceiverUser.Equals(userId))
                    {

                    <h4 class="alert-info"> <strong>@messageView.Sender.UserName-tól/től kapott üzenet: </strong></h4>

                    }
                    else
                    {
                    <h4 class="alert-success"><strong> @messageView.Receiver.UserName-nak/nek küldött üzenet:</strong></h4>
                    }
                </div>
                <div class="panel-body">
                    <h5>
                        <strong> Message:</strong> @messageView.MessageText
                    </h5>
                    <h5>
                        <strong>MessageTime:</strong> @messageView.CreateTime
                    </h5>
                    @if (messageView.SeenByReceiver)
                    {
                        <h6>
                            <strong>Az üzenet elolvasva.</strong>
                        </h6>
                    }
                    else
                    {
                        if (messageView.ReceiverUser.Equals(userId))
                        {
                            <h6>
                                <strong>Az üzenetet még nem olvastad el.</strong>
                            </h6>
                            <div class="col-md-6">@Html.ActionLink("Az üzenet olvasottnak jelölése!", "SetReceived", new { id = messageView.Id })</div>
                        }
                        else
                        {
                            <h6>
                                <strong>Az üzenetet még nem olvasták el.</strong>
                            </h6>
                        }

                    }
                </div>

            }
        }
    }
    }
</div>

